/* ==========================================================================
   CSS variables
   ========================================================================== */

:root {
  /* Colors
     ======================================================================== */

  --green: #718754;
  --green_light: #d2e0af;
  --green_wash: #f6fce6;
  --green_white: #f8fbf2;
  --orange: #ff2600;
  --brown: #75613d;


  --dark: #383838;
  --gray: #808080;
  --light: #eee;
  --lightest: #f7f7f7;
  --blue: #3131f0;
  --blueviolet: blueviolet;
  --purple: purple;
  --indigo: #4b0082;

  /* Base variables, adapated from SUIT CSS
     ======================================================================== */

  --base_font: "Droid Serif";
  --base_fontsize: 18px;
  --base_lineheight: 1.5;

}
