/* ==========================================================================
   CSS variables
   ========================================================================== */

:root {
  /* Colors
     ======================================================================== */

  --green_forest: #555632;
  --green: #718754;
  --green_light: #d2e0af;
  --green_wash: #f6fce6;
  --green_white: #f8fbf2;
  --orange: #ff2600;
  --orange_tint: #eb4b2d;
  --brown: #75613d;

  --dark: #383a35;
  --blue: #0066ff;
  --purple: purple;

  --tempgreen: #686939;

  /* Base variables, adapated from SUIT CSS
     ======================================================================== */

  --base_font: "Droid Serif", Georgia, serif;
  --base_fontsize: 17px;
  --base_lineheight: 1.5;

  /* Fonts
     ======================================================================== */
  --sans: Cabin, sans-serif;
}
