/* ==========================================================================
   Header
   ========================================================================== */

.header {
  background-color: var(--green_light);
}

.header__card {
  /* Use linear gradient as background image, so that logo can sit on top of the 1px line */
  background-image: linear-gradient(to top, var(--green_white), var(--green_white) 1px, rgba(255,255,255,0) 0);
  display: flex;
  padding: 20px 0 0 14px;
}

.header__logo {
  height: 43px;
  margin-right: 11px;
}

.header__h {
  font-size: 1.4375rem;
}

.header__h a:link,
.header__h a:visited {
  color: var(--orange);
  text-decoration: none;
}

.header__h a:active,
.header__h a:hover {
  color: green;
}

.header__cloud {
  margin-left: 14%;
}
