/* ==========================================================================
   Header
   ========================================================================== */

.header {
  background-color: var(--green_light);
}

.header__card {
  /* Use linear gradient as background image, so that logo can sit on top of the 1px line */
  background-image: linear-gradient(to top, var(--green_white), var(--green_white) 2px, rgba(255,255,255,0) 0);
  display: flex;
  justify-content: flex-start;
  padding-top: 20px;
}

.header__logo {
  height: 43px;
}

.header__h {
  font-size: 1.625rem;
  line-height: 1.4;
}

.header__h a:link,
.header__h a:visited {
  color: var(--orange_tint);
  text-decoration: none;
}

.header__h a:active,
.header__h a:hover {
  color: green;
}

.header__cloud {
  /* align-self: flex-end; */
}


