/* ==========================================================================
   Nav
   ==========================================================================*/

.nav {
  background-color: var(--green);
  display: flex;
  font-family: var(--sans);
  margin-bottom: 1rem;
  padding: 13px 0 15px 0;
}

.nav__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__list > * {
  letter-spacing: 0.05rem;
  margin: 0 1rem 0 0;
  padding: 0;
}

.nav__list a:link,
.nav__list a:visited {
  background-color: var(--tempgreen);
  border-radius: 3px;
  box-shadow: inset 0 0 2px var(--dark);
  color: white;
  padding: 4px 8px 5px;
  text-decoration: none;
}

/* Nav active item */
/* .nav .is-active {
  color: var(--dark) !important;
} */
