/* ==========================================================================
   Article
   ========================================================================== */

/* For article meta info (author, date, permalink) */
.article__meta dt {
  float: left;
  width: 8em;
  font-weight: bold;
}
