/* ==========================================================================
   Shameful CSS
   ========================================================================== */

/**
 * Put shameful CSS in here. Refactor later.
 * http://csswizardry.com/2013/04/shame-css/
 */

/**
 * Use the CSS Wizardry hack namespace
 * eg ._footer-mobile {}
 * https://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/#hack-namespaces-_
 */

/* list-bare.css example of CSS object in /src/modules/objects/, header.hbs and footer.hbs */

/**
 * Temporary styling for layout
 * Putting it in shame.css makes it easier for you to implement your own components and objects
 * 😄
 */

.main {
  padding: 0 1rem;
}


/* for article meta info */
.meta dt {
  float: left;
  width: 8em;
  font-weight: bold;
}


