/* ==========================================================================
   Shameful CSS
   ========================================================================== */

/**
 * Put shameful CSS in here. Refactor later.
 * http://csswizardry.com/2013/04/shame-css/
 */

/**
 * Use the CSS Wizardry hack namespace
 * eg ._footer-mobile {}
 * https://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/#hack-namespaces-_
 */

/* list-bare.css example of CSS object in /src/modules/objects/, header.hbs and footer.hbs */


/* put in base.css */
figure {
  margin: 0;
}

figcaption {
  font-size: 0.9rem;
  font-style: italic;
  padding: 0.3rem 0.1rem 0.3rem 0.2rem;
}

/* should be able to abstract this, currentColor... ?
.whiteout a:link,
.whiteout a:visited {
  color: var(--green_white);
  text-decoration: none;
}

.whiteout a:hover,
.whiteout a:active {
  text-decoration: underline;
}
*/
